:root {
  --md-default-bg-color: #ffffff;
  --md-default-fg-color: #000000;
  --md-default-fg-color--light: #222222;
  --md-default-fg-color--lighter: #444444;
  --md-typeset-color: #000000;
  --md-typeset-a-color: #000000;
  --md-primary-fg-color: #000000;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #000000;
}

a {
  text-decoration: underline;
}
